@font-face{
    font-family: "Jost-regular";
    src: url('../fonts/Jost/Jost-Regular.ttf');
}

@font-face{
    font-family: "Jost-bolditalic";
    src: url('../fonts/Jost/Jost-SemiBoldItalic.ttf');
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Jost-regular";
    background-image: linear-gradient(to right top, #051937, #002668, #182f98, #4f2ec5, #8d12eb);
    color: white;
}

.navbar{
    background-color: rgba(0,0,0,.50);
}

main{
    width: 100%;
    height: 100%;
}


.container {
    height: 82%;
    overflow: scroll;
    overflow-x: hidden;
    top: 56px;
    scroll-behavior: smooth;
}

.chat {
    margin: 0px!important;
}


.title {
    font-family: 'Jost-bolditalic';
}

.list-users {
    position: absolute;
    top: 60px;
    right: 0px;
    margin-top: 20px;
    width: 12vw;
}

aside ul {    
    padding: 0px;
}

aside ul li {
    list-style-type: none;
}

#messages {
   margin-top: 2%;
}

div.card.message.message-content {
    margin-bottom: 1%;
    border: 1px solid rgba(0,0,0,.50);
    background-color: rgba(0,0,0,.50);
}

#talkBar {
    margin-left: 15%;
    margin-bottom: 1%;
}

#nickname {
    outline: none!important;
}

textarea {
    resize: none!important;
    outline: none;
    padding: 7px;
    padding-left: 15px;
}


.input-group{
    margin: 0px auto!important;    
    width: 89%;
    justify-content: space-between;
}

#button {
    height: 100%;
}